/node_modules
/bower_components
/public/storage
/vendor
/.idea
/fontconfig
Homestead.json
Homestead.yaml
.env
/docker-compose.local.yml
/obj
.cache
.vscode
/bin

**.log

*/.DS_Store
.DS_Store

package-lock.json